#sidebar {
    background-color: #181f36;
}

#login {
    background-color: #171A26;
}

#login-body {
    background-color: #161718;
}

.custom-bg {
    background-color: #373f55;
}

.custom-body{
    background-color: #323744;
}